<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{general/fragmentos :: head}"></head>
  <body>
    <header th:replace="~{general/fragmentos :: header}"></header>
    <main class="container py-4">
      <a class="btn btn-primary" th:href="@{/producto/listado}">Ver catálogo</a>
    </main>
    <footer th:replace="~{general/fragmentos :: footer}"></footer>
  </body>
</html>
